
.navbar {
  background-color: #fabfd6;
  height: 150px;
  display: flex;
  align-items: center;
}

.top {
  position: fixed;
  width: 100%;
  top: 0;

  opacity: 0.8;
}

#textdiv {
  padding-top: 12%;
}
.background{
  width: 100%;
  margin: 0;
}
img.resize{
    width: 150px;
    height: 150px;
    float:left;
}

.links {
  padding: 2%;
  font-size: 110%;
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.links:hover {
  color: black;
}
